body {
    background-color: rgb(43, 47, 41);
    color: white;
    user-select: none;
  }

div.Container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 80px;
    margin-left: 120px;
    margin-right: 120px;
}
  
div.Showcase {
  display: flex;
  height: 180px;
}

div.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  flex-grow: 2;
  border-radius: 18px;
  background-color: #1d1d1d;
}

div.TitleDiv {
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img.Preview {
  width: 240px;
  height: 180px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  opacity: 85%
}

a, a.visited {
  color:inherit !important;
  text-decoration: none !important;
}

a :hover {
  background-color: rgb(78, 89, 89);
  transition-duration: 0.2s;
  opacity: 100%
}